:root {
  --primary-color: black;
  --secondary-color: white;
}

body {
  color: var(--secondary-color);
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 46px;
}

.container {
  margin: 0 auto;
  text-align: center;
  background-color: var(--primary-color);
  min-height: 100vh;
}

.container h1 {
  margin: 0;
  padding: 60px 0;
  color: var(--secondary-color);
}
